@import "~bootstrap/scss/bootstrap.scss";

body {
  background: rgb(11, 146, 40);
}

.card {
  background-color: rgb(253, 253, 253);
  width: 350px;
  height: 500px;
  padding-top: 100px;
  margin: auto;
}
